*,
*::before,
*::after {
  box-sizing: border-box; }

:root {
  --fz: 17px;
  --theme-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --theme-body-bg: #f7f8fb;
  --theme-body-txt: #323232;
  --theme-body-txt-contrast: gold;
  --theme-shadow-color: gainsboro;
  --theme-shadow-values: 0px 2px 3px 0px;
  --header-bg: var(--theme-body-bg);
  --layout-max-width: 64em;
  --zIndex-header: 100;
  --theme-dark-elevation-0-shadow: #161616;
  --theme-dark-elevation-0: #191919;
  --theme-dark-elevation-1: #1f1f1f;
  --theme-dark-elevation-2: #202020;
  --theme-dark-elevation-3: #272727;
  --theme-dark-elevation-4: #2c2c2c;
  --theme-dark-elevation-5: #363636;
  --theme-dark-body-txt: #f7f8fb;
  --theme-card-bg: #fdfdfd;
  --theme-card-bg-active: #e6e6e6; }

html {
  font-size: var(--fz); }

body {
  font-size: inherit;
  margin: 0;
  background: var(--theme-body-bg);
  font-family: var(--theme-font-family);
  min-height: 100vh;
  color: var(--theme-body-txt); }

a {
  text-decoration: none;
  color: inherit; }

.o-main {
  display: grid;
  width: 100%;
  min-height: max-content;
  padding-top: 1em; }

.o-wrapper {
  display: grid;
  width: 100%;
  max-width: var(--layout-max-width);
  margin: 0 auto; }

.o-header {
  position: sticky;
  top: 0;
  min-height: 3em;
  box-shadow: var(--theme-shadow-values) var(--theme-shadow-color);
  background-color: var(--header-bg);
  z-index: var(--zIndex-header); }

.c-article {
  --card-bg: var(--theme-card-bg);
  --card-bg-active: var(--theme-card-bg-active);
  min-height: 3em;
  box-shadow: 0 2px 5px 0 var(--theme-shadow-color);
  margin-bottom: 0.4em;
  padding: 0.2em 0.5rem;
  background-color: var(--card-bg);
  position: relative; }
  .c-article:hover {
    background-color: var(--card-bg-active);
    transition: background-color 150ms ease; }
  .c-article_btn {
    background-color: transparent;
    border: none; }
    .c-article_btn[data-type="love"] {
      position: absolute;
      right: 0;
      top: 0; }
  .c-article_link {
    color: inherit; }
  .c-article_title {
    margin: 0;
    padding: 0.5em 0; }

/**
* Specificity
*/
body[data-theme="dark"] {
  --theme-body-txt: #f7f8fb;
  --theme-body-bg: var(--theme-dark-elevation-0);
  --theme-card-bg: var(--theme-dark-elevation-1);
  --theme-card-bg-active: var(--theme-dark-elevation-3);
  --header-bg: var(--theme-dark-elevation-2);
  --theme-shadow-color: var(--theme-dark-elevation-0-shadow); }
